.header {
    background: #E8E8E9;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
}

.logo {
    font-size: 29px;
    font-weight: 900;
    line-height: 40px;
    color: #000;
    text-decoration: none;
    margin: auto 0;
}

.nav {
    margin: auto 0;
}

.nav a {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #000;
    background: none;
    padding: 8px 60px;
    width: 220px;
    height: 40px;
    color: #000;
    border-radius: 3px;
}

.nav a:hover {
    background: #3D3E40;
    color: #fff;
}

.favorites-nav {
    margin-left: 50px;
}
